.profile__avatar-button {
  position: relative;
  cursor: pointer;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 29px 0 0;
  padding: 0;

  background: transparent;
  border: none;
  opacity: 1;
}

.profile__avatar-button:hover {
  opacity: 0.6;
}
