.popup__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 8px;
    margin: 0;
    font-size: 14px;
    line-height: 1.35;
    padding-left: 0;
}

.popup__list_type_definitions {
    display: grid;
    gap: 10px;
}

.popup__list_type_users {
    max-height: 180px;
    overflow: auto;
}

.popup__list::-webkit-scrollbar {
    width: 4px;
}

.popup__list::-webkit-scrollbar-track {
    background: rgb(0 0 0 / 20%);
}

.popup__list::-webkit-scrollbar-thumb {
    background-color: #545454;
}

@media screen and (max-width: 568px) {
    .popup__list {
        font-size: 10px;
        line-height: 12px;
    }
}

