.popup__error {
  display: block;
  min-height: 12px;
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 12px;
  color: #FF0000;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup__error:last-of-type {
  margin-bottom: 0;
}
