.popup__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid  rgba(0, 0, 0, .2);
  font-size: 14px;
  box-sizing: border-box;
  padding: 2px 0 8px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: border-bottom 0.3s;
}

.popup__input::placeholder {
  color: #c4c4c4;
}

@media screen and (max-width: 568px) {
  .popup__input {
    font-size: 12px;
  }
}
